/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* Typography */
*, footer {
  font-family: Verdana, Geneva, sans-serif;
}
body {
  font-size: 1em;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
input[type="text"], input[type="password"] {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

/* Responsive Grid */
.col-1 {
  width: 100%;
}
.col-2 {
  width: 50%;
}
.col-3 {
  width: 90%;
}
@media (min-width: 30em) {
  .col-3 {
    width: 80%;
  }
}
@media (min-width: 50em) {
  .col-3 {
    width: 50%;
  }
}
@media (min-width: 70em) {
  .col-3 {
    width: 33.33%;
  }
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.clear {
  display: block;
  clear: both;
}
.hidden {
  display: none;
}

/* General Layout */
#main {
  background-color: #f6f6ef;
  position: relative;
  padding: 1em 1em 5em 1em;
  margin-top: 3em;
}
#status-message, #logo {
  background-color: #ff6600;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  padding: 1em 0;
}
#status-message:not(:empty) {
  top: -2em;
  background-color: #000;
  color: #0f0;
  padding-top: 0.5em;
  padding-bottom: 2em;
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  font-weight: bold;
}
#logo {
  cursor: default;
}
#logo a {
  text-decoration: inherit;
}
#login-content, #signup-content {
  margin-top: 5em;
}
#signup-content {
  display: none;
}
#footer, #footer p {
  color: #ff6600;
}
#footer {
  margin: 1em auto;
}
a, a:visited, a:focus {
  color: #000;
}
#register:checked ~ .forgot-password {
  display: none;
}
ul {
  display: block;
}
li {
  display: inline-block;
}
ul.button-group {
  margin-top: 2em;
}
ul.button-group li {
  float: left;
}

/* Forms */
label {
  display: block;
  margin: 0 0 0.25em 0;
}
#register:checked ~ label[for="username"]:before, #register:checked ~ label[for="password"]:before {
  content: 'New ';
}
input {
  display: block;
  margin: 0 0 1.25em 0;
}
input[type="checkbox"], input[type="checkbox"] + label {
  display: inline-block;
}
input[type="checkbox"] {
  border: 1px solid #000;
}
input[type="text"], input[type="password"] {
  line-height: 2;
  margin-bottom: 0.5em;
}
input[type="submit"] {
  cursor: pointer;
}
#register ~ .button.submit:after {
  content: ' In';
}
#register:checked ~ .button.submit:after {
  content: ' Up';
}

/* Buttons */
.button {
  display: block;
  padding: 1em;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  background-color: #eee;
  color: #000;
  border: 2px solid #ff6600;
}
.button.submit {
  margin-top: 1em;
  font-size: 1.5em;
  padding: 0.5em;
  color: #ff6600;
}
.col-2 .button {
  background-color: #eee;
  margin-right: 0.5em;
}
.col-2:last-child .button {
  margin-left: 0.5em;
  margin-right: 0;
}
.button:hover, .button:focus, .button:active {
  background-color: #ff6600;
}
.button.submit:hover, .button.submit:focus, .button.submit:active {
  color: #fff;
}

