/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* Typography */
* {
    font-family: Consolas, monaco, monospace !important;
}
body {
    font-size: 1em;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}

/* Colors */
html, body {
    background-color: #111;
}
#main {
    background-color: #ff6600;
}
#signup-content {
    display: none;
}
#footer, #footer p {
    color: #ff6600;
}
a, a:visited, a:focus {
    color: #000;
}
.button {
    background-color: #fff;
    color: #ff6600 !important;
    border: none;
    border: 2px solid #fff;
}
.col-2 .button {
    background-color: #eee;
    border: 2px solid #eee;
}
.button:hover, .button:focus {
    background-color: #ff6600;
    color: #000 !important;
    border: 2px solid #000;
}
.avoid-clicks {
    pointer-events: none;
}

/* Grid */
.col-6 {
    width: 16.67%;
}
.col-5 {
    width: 20%;
}
.col-4 {
    width: 25%;
}
.col-3 {
    width: 33.33%;
}
.col-2 {
    width: 50%;
}
.col-1 {
    width: 100%;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
.clear {
    display: block;
    clear: both;
}

/* General Layout */
#main {
    padding: 1em 1em 5em 1em;
    margin-top: 1em;
}
#logo {
    margin-bottom: 1em;
    cursor: default;
}
#logo span {
    text-decoration: underline;
}
ul {
    display: block;
}
li {
    display: inline-block;
}
ul.button-group {
    margin-top: 2em;
}
ul.button-group li {
    float: left;
}
#footer {
    margin-top: 2em;
}

/* Forms */
input#username, input#password {
    line-height: 2;
    margin-bottom: 0.5em;
}
input:focus {
    border: 2px solid #000;
}

/* Buttons */
.button {
    display: block;
    padding: 1em;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 3px 3px 5px black;
}
.col-2 .button {
    margin-right: 0.5em;
}
.col-2:last-child .button {
    margin-left: 0.5em;
    margin-right: 0;
}
.button.submit {
    margin-top: 1em;
    font-size: 1.5em;
    padding: 0.5em;
}
